body {
  margin-top: 5%;
  background: linear-gradient(to right, red, yellow);
  text-align: center;
}
h1,
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  justify-content: center;
  text-align: center;
}
input {
  display: inline-block;
  justify-items: center;
  justify-content: center;
  color: white;
}
